@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* { box-sizing: border-box; font-family: 'Nanum Gothic', sans-serif; color: #000; }
html { font-size: 13px; }
body { margin: 0; }

a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd, li { margin: 0; padding: 0; }